.site-footer {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 30px 0;
    background-image: url(/img/component/footer/FooterBackground.jpg);
    background-size: 23px;
}
.site-footer__section {
    display: table-cell;
    border-right: solid 3px $borderColor;
    text-align: center;
    padding-bottom: 80px;

    &:first-child {
        .site-footer__section__content {
            padding-top: 0;
        }
    }

    &:last-child {
        border-right: none;
    }
}
.site-footer__section:first-child {
    padding-top: 0;
}
.site-footer__section__header {
    font-family: $rareHeaderFont;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.site-footer__section__content {
    display: inline-table;
    width: 250px;
    padding: 10px 0;
    font-family: $primaryFont;
    color: $textGrey;
    font-size: 14px;

    p {
        text-align: center;
        line-height: 18px;
    }

    form {
        text-align: center;
    }

    input[type=text] {
        width: 220px;
    }

    .subscribe-form {
        display: table;
    }
    .subscribe-form--hidden {
        display: none;
    }
    .subscribe-form__text-field {
        display: table-cell;
        vertical-align: middle;
    }
    .subscribe-form__submit {
        display: table-cell;
        background-color: $orange;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }
    .subscribe-form__submit--disabled {
        background-color: $disabledGrey;
        cursor: default;
    }

    .success {
        text-align: center;
        color: $green;
    }
    .success--hidden {
        display: none;
    }
    .success__icon {
        vertical-align: middle;
    }
    .success__text {
        vertical-align: middle;
        margin-left: 3px;
    }

    .social-link {
        display: table-cell;
        text-align: center;
    }
    .social-link__icon {
        width: 30px;
        height: 30px;
    }
}
.site-footer__section--social {
    .site-footer__section__content {
        width: 170px;
    }
}
