.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: table;
    table-layout: fixed;
    width: 910px;
    height: 55px;
    margin: auto;
    z-index: $zPageHeader;
}
.site-header__link {
    display: table-cell;
    text-align: center;
    text-transform: uppercase;
    font-family: $primaryFont;
    vertical-align: middle;
    font-size: 18px;

    a {
        color: #000000;
        text-decoration: none;
    }
}
.site-header__link--emphasized {
    font-size: 25px;
    font-weight: 600;
}
