@import "mixins";

.input-text {
    @include boxSizing(border-box);
    display: inline-block;
    border: solid 1px $inputBorderColor;
    outline: none;
    padding: 5px 10px;
    height: 37px;
    font-family: $primaryFont;

    &:focus {
        border-color: $inputBorderColorFocused;
    }
}
.input-text--error {
    border: solid 1px $errorColor;
}

.input-button {
    border: none;
    background-color: $blue;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 20px;

    &:hover {
        background-color: $lightBlue;
    }
}
