@mixin boxShadow($args...) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -o-transform: $args;
    -ms-transform: $args;
    transform: $args;
}

@mixin boxSizing($arg) {
    -webkit-box-sizing: $arg;
    -moz-box-sizing: $arg;
    box-sizing: $arg;
}

@mixin displayFlex() {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
