// Font families
$primaryFont: 'Raleway';
$secondaryFont: 'Montserrat';
$rareHeaderFont: 'Amiri';

// z-index constants
$zPageHeader: 100;

// Colors
$errorColor: #ff3434;
$orange: #ff950b;
$lightOrange: #ffbd66;
$red: #ec1b2e;
$lightRed: #fa4251;
$green: #0cab0c;
$cream: #f4ede5;
$gold: #964800;
$lightGold: #bd600a;

$disabledGrey: #cacaca;
$borderColor: #a2a2a2;
$inputBorderColor: #cacaca;
$inputBorderColorFocused: #676767;
$textGrey: #7b7b7b;
