@import "variables";
@import "mixins";

.site-footer {
    background-color: $blackBackground;
}
.site-footer__content-container {
    display: table;
    width: 1024px;
    table-layout: fixed;
    padding-top: 50px;
    margin: auto;
}

.site-footer__section {
    display: table-cell;
    padding-bottom: 80px;
}
.site-footer__section__header {
    font-family: $primaryFont;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 15px;
}
.site-footer__section__content {
    display: inline-table;
    width: 250px;
    padding-top: 16px;
    font-family: $primaryFont;
    color: #ffffff;
    font-size: 14px;

    p {
        line-height: 18px;
    }
}

.site-footer__section--contact {
    .uni-email {
        font-size: 16px;
        font-weight: 600;
    }

    .contact-person {
        font-size: 16px;
        margin-top: 15px;
    }
}
.site-footer__section--recent-posts {
    .post-entry {
        display: table;
        width: 100%;
        margin-bottom: 24px;
        text-decoration: none;
        color: #ffffff;

        .post-entry__thumbnail {
            display: table-cell;
            width: 88px;
            height: 65px;
            background-size: cover;
            background-position: center;
        }

        .post-entry__details {
            display: table-cell;
            padding-left: 15px;
        }
        .post-entry__title {
            font-size: 14px;
            vertical-align: middle;
        }
        .post-entry__date {
            font-size: 14px;
            margin-top: 10px;
        }
        .post-entry__date__icon {
            vertical-align: middle;
            font-size: 18px;
        }
        .post-entry__date__text {
            vertical-align: middle;
        }
    }
}
.site-footer__section--social {
    .site-footer__section__content {
        padding-top: 12px;

        form {
            text-align: center;
        }

        .subscribe-form-container {
            margin-top: 50px;
        }

        .subscribe-form-header {
            font-size: 16px;
            margin-bottom: 7px;
        }

        .subscribe-form {
            display: table;
        }
        .subscribe-form--hidden {
            display: none;
        }
        .subscribe-form__text-field {
            display: table-cell;
            vertical-align: middle;
            width: 170px;
        }
        .subscribe-form__submit {
            display: table-cell;
            background-color: $red;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
            padding: 10px;
            vertical-align: middle;
            border: none;
            line-height: 17px;
            cursor: pointer;

            &:hover:not(:disabled) {
                background-color: $lightRed;
            }
            &:disabled {
                background-color: $disabledGrey;
                cursor: default;
                pointer-events: none;
            }
        }

        .success {
            color: $green;
            margin-left: -2px;
        }
        .success--hidden {
            display: none;
        }
        .success__icon {
            vertical-align: middle;
        }
        .success__text {
            vertical-align: middle;
            margin-left: 3px;
        }

        .social-link {
            margin-right: 20px;
            text-decoration: none;
        }
        .social-link__icon {
            width: 26px;
            height: 26px;
        }
    }
}
