// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'https://fonts.googleapis.com/css?family=Montserrat|Amiri:400,400italic|Raleway:400,600,800';

@import "lib/browserReset";

@import "component/variables";
@import "component/mixins";
@import "component/header";
@import "component/footer";
