// This file sets the CSS for both listing and editing events

@import "../../component/variables";
@import "../../component/mixins";
@import "../../component/admin/components";


.admin-manage-events {
    @include breadcrumbs;

    .page-content-container {
        width: 960px;
        margin: auto;
    }

    .content-layouter {
        display: table;
        width: 100%;
    }

    .side-menu-container,
    .manage-events {
        display: table-cell;
        vertical-align: top;
    }

    .side-menu-container {
        width: 250px;
        padding-right: 12px;
    }

    .manage-events__header-container {
        display: table;
        width: 100%;
        margin-bottom: 10px;
    }
    .manage-events__header {
        display: table-cell;
        font-family: $secondaryFont;
        font-size: 22px;
        vertical-align: middle;
    }
    .manage-events__create-new {
        display: table-cell;
        width: 80px;
        text-align: center;
        text-decoration: none;
        padding: 8px 10px;
        vertical-align: middle;
        font-family: $primaryFont;
        font-size: 14px;
    }

    .manage-events__events {
        display: table;
        width: 100%;
    }
    .events__table-header,
    .events__entry {
        display: table-row;

        > * {
            display: table-cell;
            font-family: $primaryFont;
            font-size: 14px;
            vertical-align: top;
            padding: 5px 0;
        }
    }
    .events__table-header {
        background-color: $lightBlue;
        color: #ffffff;
        font-family: $secondaryFont;
        font-size: 14px;
        font-weight: 700;

        > * {
            text-align: center;
            vertical-align: middle;
        }
    }
    .events__entry {
        color: inherit;
        text-decoration: none;

        &:hover {
            background-color: $lightCyan;
        }
    }
    .events__id {
        width: 40px;
        text-align: center;
    }
    .events__snippet {
        .snippet__head {
            @include elipsisTruncate;
            max-width: 300px;
            margin-bottom: 5px;
        }
        .snippet__title {
            font-weight: 600;
        }
        .snippet__body {
            @include elipsisTruncate;
            max-width: 300px;
            line-height: 18px;
        }
    }
    .events__date-commenced,
    .events__date-finished {
        width: 100px;
        text-align: center;
    }
}

.admin-edit-event {
    @include breadcrumbs;

    .page-content-container {
        width: 960px;
        margin: auto;
    }

    .content-layouter {
        display: table;
        width: 100%;
    }

    .side-menu-container,
    .edit-event {
        display: table-cell;
        vertical-align: top;
    }

    .side-menu-container {
        width: 250px;
        padding-right: 12px;
    }

    .edit-event {
        @include adminForm;
    }
}
