// This file sets the CSS for both listing and editing sermon summaries

@import "../../component/variables";
@import "../../component/mixins";
@import "../../component/admin/components";


.admin-manage-sermon-summaries {
    @include breadcrumbs;

    .page-content-container {
        width: 960px;
        margin: auto;
    }

    .content-layouter {
        display: table;
        width: 100%;
    }

    .side-menu-container,
    .manage-sermon-summaries {
        display: table-cell;
        vertical-align: top;
    }

    .side-menu-container {
        width: 250px;
        padding-right: 12px;
    }

    .manage-sermon-summaries__header-container {
        display: table;
        width: 100%;
        margin-bottom: 10px;
    }
    .manage-sermon-summaries__header {
        display: table-cell;
        font-family: $secondaryFont;
        font-size: 22px;
        vertical-align: middle;
    }
    .manage-sermon-summaries__create-new {
        display: table-cell;
        width: 80px;
        text-align: center;
        text-decoration: none;
        padding: 8px 10px;
        vertical-align: middle;
        font-family: $primaryFont;
        font-size: 14px;
    }

    .manage-sermon-summaries__sermon-summaries {
        display: table;
        width: 100%;
    }
    .sermon-summaries__table-header,
    .sermon-summaries__entry {
        display: table-row;

        > * {
            display: table-cell;
            font-family: $primaryFont;
            font-size: 14px;
            vertical-align: top;
            padding: 5px 0;
        }
    }
    .sermon-summaries__table-header {
        background-color: $lightBlue;
        color: #ffffff;
        font-family: $secondaryFont;
        font-size: 14px;
        font-weight: 700;

        > * {
            text-align: center;
            vertical-align: middle;
        }
    }
    .sermon-summaries__entry {
        color: inherit;
        text-decoration: none;

        &:hover {
            background-color: $lightCyan;
        }
    }
    .sermon-summaries__id {
        width: 40px;
        text-align: center;
    }
    .sermon-summaries__content-snippet {
        .content-snippet__head {
            @include elipsisTruncate;
            max-width: 300px;
            margin-bottom: 5px;
        }
        .content-snippet__title {
            font-weight: 600;
        }
        .content-snippet__subtitle {
            margin-left: 5px;
            color: $textGrey;
            font-style: italic;
        }
        .content-snippet__body {
            @include elipsisTruncate;
            max-width: 300px;
            line-height: 18px;
        }
    }
    .sermon-summaries__date-preached {
        width: 100px;
        text-align: center;
    }
    .sermon-summaries__preacher {
        width: 120px;
        text-align: center;
    }
    .sermon-summaries__summarizer {
        width: 120px;
        text-align: center;
    }
    .sermon-summaries__published {
        width: 100px;
        text-align: center;

        .material-icons {
            font-size: 20px;
        }

        .published {
            color: $green;
        }

        .unpublished {
            color: $red;
        }
    }
}

.admin-edit-sermon-summary {
    @include breadcrumbs;

    .page-content-container {
        width: 960px;
        margin: auto;
    }

    .content-layouter {
        display: table;
        width: 100%;
    }

    .side-menu-container,
    .edit-sermon-summary {
        display: table-cell;
        vertical-align: top;
    }

    .side-menu-container {
        width: 250px;
        padding-right: 12px;
    }

    .edit-sermon-summary {
        @include adminForm;
    }
}
