// TODO Remove commented-out code

@import "../component/variables";
@import "../component/mixins";

.slice {
    font-family: $primaryFont;
}
.slice__content-container {
    position: relative;
    width: 1024px;
    margin: auto;
}

.slice--welcome {
    position: relative;
    height: 100vh;

    .slice__background {
        background-image: url(/img/page/mainHome/HomepageBackground.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .slice__background-gradient {
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        width: 100%;
        height: 100%;
    }

    .slice__content-container {
        height: 100%;
    }

    .club-identity {
        position: absolute;
        top: -130px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 470px;
        height: 150px;
        margin: auto;
    }
    .club-identity__logo {
        width: 470px;
        height: 130px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .club-identity__subtitle {
        text-align: center;
        font-size: 28px;
    }

    .about-snippet {
        position: absolute;
        right: 0;
        bottom: 80px;
        width: 450px;
        text-align: right;
    }
    .about-snippet__quote {
        font-size: 18px;
        line-height: 22px;
        text-align: right;
    }
    .about-snippet__button-link {
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        font-family: $primaryFont;
        font-size: 22px;
        font-weight: 600;
        display: inline-block;
        margin-top: 13px;
        padding: 7px 20px;
        background-color: $red;

        &:hover {
            background-color: $lightRed;
        }

        .text {
            vertical-align: middle;
        }

        .arrow {
            border-top: solid 9px transparent;
            border-bottom: solid 9px transparent;
            border-left: solid 11px #ffffff;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}

.slice--mission-statement {
    min-height: 100vh;

    .slice__header {
        text-align: center;
        margin-top: 30px;
    }
    .slice__header__pre-header {
        font-family: $rareHeaderFont;
        font-size: 34px;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
    }
    .slice__header__header {
        font-family: $primaryFont;
        border: solid 6px #000000;
        text-transform: uppercase;
        display: inline-block;
        font-size: 38px;
        font-weight: 700;
        padding: 12px 32px;
    }

    .mission-statement {
        display: table;
        width: 100%;
        margin-top: 60px;
    }
    .mission-statement__entry {
        display: table-cell;
        text-align: center;
        padding: 0 80px;

        img {
            width: 60px;
        }

        p {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            line-height: 24px;
        }
    }
}

$universitySliceHeight: 230px;
$arrowWidth: 45px;
.slice--university-slices-header {
    background-color: $blackBackground;

    .slice__content-container {
        padding: 40px 0;
        text-align: center;
    }

    .university-slices-header {
        display: inline-block;
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        border: solid 6px #ffffff;
        padding: 10px 25px;
    }
}
.slice--university {
    height: $universitySliceHeight;
    border-bottom: solid 2px $blackBackground;
    overflow: hidden;

    .university {
        display: table;
        table-layout: fixed;
        width: 100%;
        background-color: $blackBackground;
    }
    .university--details-at-left {
        &::before {
            left: calc(-100vw + 3px);
        }

        .university__details {
            text-align: right;
            padding-right: 40px;

            &::before {
                border-left: solid $arrowWidth #ffffff;
                left: 0;
            }

            p {
                text-align: right;
            }
        }
    }
    .university--details-at-right {
        &::before {
            right: calc(-100vw + 3px);
        }

        .university__details {
            text-align: left;
            padding-left: 40px;

            &::before {
                border-right: solid $arrowWidth #ffffff;
                right: 0;
            }

            p {
                text-align: left;
            }
        }
    }

    .university__details,
    .university__photos,
    .university__logo-placeholder {
        display: table-cell;
        vertical-align: middle;
    }

    .university__details {
        width: 30%;
        text-align: center;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            border-top: solid $universitySliceHeight transparent;
        }

        p {
            font-family: $secondaryFont;
            font-size: 14px;
            line-height: 18px;
            margin: 17px 0;
            color: #ffffff;
        }
    }
    .university__details__visit-button {
        display: inline-block;
        padding: 8px 20px;
        font-family: $primaryFont;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        background-color: $red;

        &:hover {
            background-color: $lightRed;
        }

        .text {
            vertical-align: middle;
        }

        .arrow {
            border-top: solid 8px transparent;
            border-bottom: solid 8px transparent;
            border-left: solid 11px #ffffff;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    .university__photos {
        width: 40%;
    }
    .university__photos__container {
        height: $universitySliceHeight;
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .university__logo-placeholder {
        width: 30%;
    }

    .slice-cover {
        @include transition(all 400ms ease);
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: #ffffff;
        cursor: pointer;
        // text-align: center;

        &::before {
            content: '';
            display: block;
            position: absolute;
            border-bottom: solid $universitySliceHeight transparent;
        }
    }
    .slice-cover--open-right {
        right: calc(50% - 50vw);

        &.slice-cover--opened {
            right: 0;
        }

        &::before {
            left: -$arrowWidth;
            border-right: solid $arrowWidth #ffffff;
        }
    }
    .slice-cover--open-left {
        left: calc(50% - 50vw);

        &.slice-cover--opened {
            left: 0;
        }

        &::before {
            right: -$arrowWidth;
            border-left: solid $arrowWidth #ffffff;
        }
    }
    .slice-cover--opened {
        width: 30%;
    }
    .slice-cover__content-container {
        text-align: center;
        // display: inline-block;
        height: 160px;
        width: 240px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .slice-cover__image {
        @include dropShadow(0 2px 3px rgba(0,0,0, 0.4));
        height: 100px;
    }
    .slice-cover__text {
        text-transform: uppercase;
        text-align:center;
        font-family: $secondaryFont;
        font-size: 22px;
        line-height: 24px;
        margin-top: 10px;
    }

    .slick-dots {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
        }

        button {
            cursor: pointer;
            display: block;
            width: 16px;
            height: 16px;
            font-size: 0;
            line-height: 0;
            border: none;
            background: none;
            position: relative;
            outline: none;

            &::before {
                background-color: #848484;
                display: block;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 6px;
                height: 6px;
                border-radius: 100%;
            }
        }

        .slick-active button::before {
            background-color: #ffffff;
        }
    }
}

.slice--subscribe {
    background-color: $blackBackground;
    padding: 50px 0;

    .slice__content-container {
        text-align: center;
        width: auto;
        background-image: url('/img/page/mainHome/REFSubscribeBackground.jpg');
        background-size: cover;
        background-position: center;
        padding: 55px 0;
    }

    .slice__header {
        display: inline-block;
        color: #000000;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        border: solid 6px #000000;
        padding: 10px 25px;
        margin-bottom: 40px;
    }

    .subscribe-prompt {
        margin: auto;
        width: 400px;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }
    .subscribe-prompt--prominent {
        font-weight: 600;
        width: 550px;
        margin-bottom: 8px;
    }

    .subscribe-form {
        width: 550px;
        margin: auto;
        margin-top: 30px;

        input[type=text] {
            @include boxShadow(rgba(0,0,0, 0.4) 0 5px 10px 0);
            @include boxSizing(border-box);
            display: block;
            border: none;
            width: 100%;
            font-family: $primaryFont;
            font-size: 16px;
            text-align: center;
            padding: 7px 10px;
            margin-bottom: 20px;
        }

        input[type=submit] {
            background-color: $red;
            color: #ffffff;
            cursor: pointer;
            border: none;
            display: block;
            width: 100%;
            text-transform: uppercase;
            font-size: 22px;
            padding: 10px 0;

            &:hover {
                background-color: $lightRed;
            }
        }
    }
}

$picquoteWidth: 200px;
.slice--picquotes {
    background-color: $blackBackground;
    overflow: hidden;

    .slice__content-container {
        font-size: 0;
    }

    .slice__header {
        display: inline-block;
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        border: solid 6px #ffffff;
        padding: 10px 25px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .picquotes-container {
        display: inline-block;
        position: relative;
    }
    .picquotes-set {
        display: inline-block;
        white-space: nowrap;
    }
    .picquotes-set--clones {
        position: absolute;
        top: 0;
    }
    .picquotes-column {
        display: inline-block;
        width: $picquoteWidth;
    }
    .picquotes-column--large {
        width: 2*$picquoteWidth;
    }
    .picquote {
        background-size: cover;
        background-position: center;
        float: left;
        width: $picquoteWidth;
        height: $picquoteWidth;
    }
    .picquote--large {
        width: 2*$picquoteWidth;
        height: 2*$picquoteWidth;
    }

    .picquotes-link {
        display: inline-block;
        float: right;
        padding: 8px 20px;
        margin-top: 30px;
        margin-bottom: 70px;
        font-family: $primaryFont;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        background-color: $red;

        &:hover {
            background-color: $lightRed;
        }

        .text {
            vertical-align: middle;
        }

        .arrow {
            border-top: solid 8px transparent;
            border-bottom: solid 8px transparent;
            border-left: solid 11px #ffffff;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}

.slice--link-to-page {
    background-image: url('/img/page/mainHome/REFSubscribeBackground.jpg');
    background-size: cover;
    background-position: center;

    .slice__content-container {
        text-align: center;
        padding: 100px 0 120px;
    }

    .slice__pre-header {
        font-family: $rareHeaderFont;
        font-style: italic;
        text-transform: lowercase;
        text-align: center;
        font-size: 40px;
    }

    .slice__header {
        font-family: $primaryFont;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
    }

    .button-link {
        font-family: $primaryFont;
        font-size: 27px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        background-color: $red;
        padding: 9px 40px;
        margin-top: 35px;

        &:hover {
            background-color: $lightRed;
        }
    }
}

.slice--contact-us {
    background-color: $blackBackground;

    .slice__content-container {
        text-align: center;
        padding-top: 130px;
        padding-bottom: 100px;
    }

    .slice__header {
        display: inline-block;
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        border: solid 6px #ffffff;
        padding: 16px 32px;
    }

    .contact-us {
        width: 522px;
        margin: auto;
        margin-top: 60px;
        display: table;
        table-layout: fixed;
    }
    .contact-us__details {
        display: table-cell;
        vertical-align: top;
        color: #ffffff;

        .details__title {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 600;
        }
        .details__block {
            padding-top: 5px;
            padding-bottom: 25px;

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .details__social-links {
            .social-link {
                margin-right: 15px;
                text-decoration: none;
            }
            .social-link__icon {
                width: 28px;
                height: 28px;
            }
        }
    }
    .contact-us__form {
        display: table-cell;
        vertical-align: top;
        font-size: 0;

        input[type=text],
        input[type=email],
        textarea {
            @include boxSizing(border-box);
            font-family: $primaryFont;
            border: none;
            width: 100%;
            margin-bottom: 6px;
            padding: 5px 10px;
        }

        textarea {
            height: 130px;
            resize: vertical;
        }

        input[type=submit] {
            border: none;
            background-color: $red;
            float: right;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 14px;
            padding: 5px 30px;
            cursor: pointer;

            &:hover {
                background-color: $lightRed;
            }
        }
    }
}
