@import "../component/variables";
@import "../component/mixins";

.slice {
    font-family: $primaryFont;
}
.slice--fill-height {
    height: 100vh;
}
.slice__content-container {
    position: relative;
    width: 1024px;
    margin: auto;
}
.slice--welcome {
    background-image: url(/img/page/mainHome/HomepageBackground.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    @include box-shadow(#000000 0 0 25px 0);

    .slice__content-container {
        height: 100%;
    }

    .club-identity {
        position: absolute;
        top: -130px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 470px;
        height: 150px;
        margin: auto;
    }
    .club-identity__logo {
        font-size: 130px;
        text-align: center;
    }
    .club-identity__subtitle {
        text-align: center;
        font-size: 28px;
    }

    .about-snippet {
        position: absolute;
        right: 0;
        bottom: 80px;
        width: 450px;
        text-align: right;
    }
    .about-snippet__quote {
        font-size: 18px;
        line-height: 22px;
        text-align: right;
    }
    .about-snippet__button-link {
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        font-size: 24px;
        display: inline-block;
        border: solid 2px #000000;
        margin-top: 13px;
        padding: 3px 5px;
    }
}
.slice--quote {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &.slice--first-quote {
        background-image: url(/img/page/mainHome/FirstQuoteBackground.jpg);

        .slice__content-container {
            width: 500px;
        }
    }

    &.slice--second-quote {
        background-image: url(/img/page/mainHome/SecondQuoteBackground.jpg);

        .slice__content-container {
            width: 740px;
        }
    }

    .slice__content-container {
        display: table;
        height: 100%;
    }

    .quote {
        display: table-cell;
        vertical-align: middle;
    }
    .quote--light {
        .quote__author, .quote__content {
            color: #ffffff;
            text-shadow: #000000 0 0 3px;
        }
    }
    .quote__author, .quote__content {
        text-align: center;
        padding: 8px 0;
        color: #000000;
        text-shadow: #ffffff 0 0 3px;
    }
    .quote__author {
        font-size: 18px;
    }
    .quote__content {
        font-size: 16px;
        line-height: 20px;
    }
}
.slice--university {
    height: 200px;
    border-bottom: solid 1px red;
}
