@import "../component/variables";
@import "../component/mixins";
@import "../component/sermonSummariesListTemplate";

body {
    background-color: $cream;
}

.page-content-container {
    width: 1024px;
    margin: auto;
    margin-top: 150px;
}

.page-header {
    font-family: $primaryFont;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.sermon-summaries-container {
    margin-top: 20px;
    text-align: center;
}
