@import "../component/variables";
@import "../component/mixins";

.slice {
    font-family: $primaryFont;
}
.slice--fill-height {
    height: 100vh;
}
.slice__content-container {
    position: relative;
    width: 1024px;
    margin: auto;
}
.slice--welcome {
    position: relative;

    .slice__content-container {
        width: 100%;
        height: 100%;
    }

    .posters-carousel {
    }
    .posters-carousel__entry {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .slick-dots {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
        }

        button {
            cursor: pointer;
            display: block;
            width: 30px;
            height: 30px;
            font-size: 0;
            line-height: 0;
            border: none;
            background: none;
            position: relative;
            outline: none;

            &::before {
                background-color: #ffffff;
                display: block;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                opacity: 0.5;
            }
        }

        .slick-active button::before {
            opacity: 1;
        }
    }
}
.slice--quote {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @include box-shadow(#000000 0 20px 20px -20px inset);

    &.slice--first-quote {
        background-image: url(/img/page/uniHome/FirstQuoteBackground.jpg);

        .slice__content-container {
            width: 500px;
        }
    }

    &.slice--second-quote {
        background-image: url(/img/page/uniHome/SecondQuoteBackground.jpg);

        .slice__content-container {
            width: 740px;
        }
    }

    .slice__content-container {
        display: table;
        height: 100%;
    }

    .quote {
        display: table-cell;
        vertical-align: middle;
    }
    .quote--light {
        .quote__author, .quote__content {
            color: #ffffff;
            text-shadow: #000000 0 0 3px;
        }
    }
    .quote__author, .quote__content {
        text-align: center;
        padding: 8px 0;
        color: #000000;
        text-shadow: #ffffff 0 0 3px;
    }
    .quote__author {
        font-size: 18px;
    }
    .quote__content {
        font-size: 16px;
        line-height: 20px;
    }
}
.slice--link-to-page {
    background-color: #f4ede5;

    .slice__content-container {
        text-align: center;
        padding: 100px 0 120px;
    }

    .pre-header {
        font-family: $rareHeaderFont;
        font-style: italic;
        text-transform: lowercase;
        text-align: center;
        font-size: 40px;
    }

    .header {
        font-family: $primaryFont;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
    }

    .button-link {
        font-family: $primaryFont;
        font-size: 27px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        background-color: #ec1b2e;
        padding: 9px 40px;
        margin-top: 35px;
    }
}
.slice--other-universities {
    background-image: url(/img/page/uniHome/OtherUniversities.jpg);
    background-size: cover;
    background-position: center;

    .slice__content-container {
        text-align: center;
        padding: 60px 0;
    }

    .button-link {
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        background: #ff950b;
        display: inline-block;
        padding: 7px 20px;
        font-size: 18px;
    }
}
