/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slice {
  font-family: "Raleway"; }

.slice__content-container {
  position: relative;
  width: 1024px;
  margin: auto; }

.slice--welcome {
  position: relative;
  height: 100vh; }
  .slice--welcome .slice__background {
    background-image: url(/img/page/mainHome/HomepageBackground.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute; }
  .slice--welcome .slice__background-gradient {
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */
    width: 100%;
    height: 100%; }
  .slice--welcome .slice__content-container {
    height: 100%; }
  .slice--welcome .club-identity {
    position: absolute;
    top: -130px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 470px;
    height: 150px;
    margin: auto; }
  .slice--welcome .club-identity__logo {
    width: 470px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .slice--welcome .club-identity__subtitle {
    text-align: center;
    font-size: 28px; }
  .slice--welcome .about-snippet {
    position: absolute;
    right: 0;
    bottom: 80px;
    width: 450px;
    text-align: right; }
  .slice--welcome .about-snippet__quote {
    font-size: 18px;
    line-height: 22px;
    text-align: right; }
  .slice--welcome .about-snippet__button-link {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    margin-top: 13px;
    padding: 7px 20px;
    background-color: #ec1b2e; }
    .slice--welcome .about-snippet__button-link:hover {
      background-color: #fa4251; }
    .slice--welcome .about-snippet__button-link .text {
      vertical-align: middle; }
    .slice--welcome .about-snippet__button-link .arrow {
      border-top: solid 9px transparent;
      border-bottom: solid 9px transparent;
      border-left: solid 11px #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px; }

.slice--mission-statement {
  min-height: 100vh; }
  .slice--mission-statement .slice__header {
    text-align: center;
    margin-top: 30px; }
  .slice--mission-statement .slice__header__pre-header {
    font-family: "Amiri";
    font-size: 34px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center; }
  .slice--mission-statement .slice__header__header {
    font-family: "Raleway";
    border: solid 6px #000000;
    text-transform: uppercase;
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    padding: 12px 32px; }
  .slice--mission-statement .mission-statement {
    display: table;
    width: 100%;
    margin-top: 60px; }
  .slice--mission-statement .mission-statement__entry {
    display: table-cell;
    text-align: center;
    padding: 0 80px; }
    .slice--mission-statement .mission-statement__entry img {
      width: 60px; }
    .slice--mission-statement .mission-statement__entry p {
      text-align: center;
      margin-top: 25px;
      font-size: 18px;
      line-height: 24px; }

.slice--quote {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: #000000 0 20px 20px -20px inset; }
  .slice--quote.slice--second-quote {
    background-image: url(/img/page/mainHome/SecondQuoteBackground.jpg); }
    .slice--quote.slice--second-quote .slice__content-container {
      width: 740px; }
  .slice--quote .slice__content-container {
    display: table;
    height: 100%; }
  .slice--quote .quote {
    display: table-cell;
    vertical-align: middle; }
  .slice--quote .quote--light .quote__author, .slice--quote .quote--light .quote__content {
    color: #ffffff;
    text-shadow: #000000 0 0 3px; }
  .slice--quote .quote__author, .slice--quote .quote__content {
    text-align: center;
    padding: 8px 0;
    color: #000000;
    text-shadow: #ffffff 0 0 3px; }
  .slice--quote .quote__author {
    font-size: 18px; }
  .slice--quote .quote__content {
    font-size: 16px;
    line-height: 20px; }

.slice--university-slices-header {
  background-color: #242424; }
  .slice--university-slices-header .slice__content-container {
    padding: 40px 0;
    text-align: center; }
  .slice--university-slices-header .university-slices-header {
    display: inline-block;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 6px #ffffff;
    padding: 10px 25px; }

.slice--university {
  height: 230px;
  border-bottom: solid 2px #242424;
  overflow: hidden; }
  .slice--university .university {
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: #242424; }
  .slice--university .university--details-at-left::before {
    left: calc(-100vw + 3px); }
  .slice--university .university--details-at-left .university__details {
    text-align: right;
    padding-right: 40px; }
    .slice--university .university--details-at-left .university__details::before {
      border-left: solid 45px #ffffff;
      left: 0; }
    .slice--university .university--details-at-left .university__details p {
      text-align: right; }
  .slice--university .university--details-at-right::before {
    right: calc(-100vw + 3px); }
  .slice--university .university--details-at-right .university__details {
    text-align: left;
    padding-left: 40px; }
    .slice--university .university--details-at-right .university__details::before {
      border-right: solid 45px #ffffff;
      right: 0; }
    .slice--university .university--details-at-right .university__details p {
      text-align: left; }
  .slice--university .university__details,
  .slice--university .university__photos,
  .slice--university .university__logo-placeholder {
    display: table-cell;
    vertical-align: middle; }
  .slice--university .university__details {
    width: 30%;
    text-align: center; }
    .slice--university .university__details::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      border-top: solid 230px transparent; }
    .slice--university .university__details p {
      font-family: "Montserrat";
      font-size: 14px;
      line-height: 18px;
      margin: 17px 0;
      color: #ffffff; }
  .slice--university .university__details__visit-button {
    display: inline-block;
    padding: 8px 20px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ec1b2e; }
    .slice--university .university__details__visit-button:hover {
      background-color: #fa4251; }
    .slice--university .university__details__visit-button .text {
      vertical-align: middle; }
    .slice--university .university__details__visit-button .arrow {
      border-top: solid 8px transparent;
      border-bottom: solid 8px transparent;
      border-left: solid 11px #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px; }
  .slice--university .university__photos {
    width: 40%; }
  .slice--university .university__photos__container {
    height: 230px;
    background-size: cover;
    background-position: center;
    text-align: center; }
  .slice--university .university__logo-placeholder {
    width: 30%; }
  .slice--university .slice-cover {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    cursor: pointer; }
    .slice--university .slice-cover::before {
      content: '';
      display: block;
      position: absolute;
      border-bottom: solid 230px transparent; }
  .slice--university .slice-cover--open-right {
    right: calc(50% - 50vw); }
    .slice--university .slice-cover--open-right.slice-cover--opened {
      right: 0; }
    .slice--university .slice-cover--open-right::before {
      left: -45px;
      border-right: solid 45px #ffffff; }
  .slice--university .slice-cover--open-left {
    left: calc(50% - 50vw); }
    .slice--university .slice-cover--open-left.slice-cover--opened {
      left: 0; }
    .slice--university .slice-cover--open-left::before {
      right: -45px;
      border-left: solid 45px #ffffff; }
  .slice--university .slice-cover--opened {
    width: 30%; }
  .slice--university .slice-cover__content-container {
    text-align: center;
    height: 160px;
    width: 240px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .slice--university .slice-cover__image {
    height: 100px; }
  .slice--university .slice-cover__text {
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat";
    font-size: 22px;
    line-height: 24px;
    margin-top: 10px; }
  .slice--university .slick-dots {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center; }
    .slice--university .slick-dots li {
      display: inline-block; }
    .slice--university .slick-dots button {
      cursor: pointer;
      display: block;
      width: 16px;
      height: 16px;
      font-size: 0;
      line-height: 0;
      border: none;
      background: none;
      position: relative;
      outline: none; }
      .slice--university .slick-dots button::before {
        background-color: #848484;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 6px;
        height: 6px;
        border-radius: 100%; }
    .slice--university .slick-dots .slick-active button::before {
      background-color: #ffffff; }

.slice--subscribe {
  background-color: #242424;
  padding: 50px 0; }
  .slice--subscribe .slice__content-container {
    text-align: center;
    width: auto;
    background-image: url("/img/page/mainHome/REFSubscribeBackground.jpg");
    background-size: cover;
    background-position: center;
    padding: 55px 0; }
  .slice--subscribe .slice__header {
    display: inline-block;
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 6px #000000;
    padding: 10px 25px;
    margin-bottom: 40px; }
  .slice--subscribe .subscribe-prompt {
    margin: auto;
    width: 400px;
    text-align: center;
    font-size: 18px;
    line-height: 24px; }
  .slice--subscribe .subscribe-prompt--prominent {
    font-weight: 600;
    width: 550px;
    margin-bottom: 8px; }
  .slice--subscribe .subscribe-form {
    width: 550px;
    margin: auto;
    margin-top: 30px; }
    .slice--subscribe .subscribe-form input[type=text] {
      box-shadow: rgba(0, 0, 0, 0.4) 0 5px 10px 0;
      box-sizing: border-box;
      display: block;
      border: none;
      width: 100%;
      font-family: "Raleway";
      font-size: 16px;
      text-align: center;
      padding: 7px 10px;
      margin-bottom: 20px; }
    .slice--subscribe .subscribe-form input[type=submit] {
      background-color: #ec1b2e;
      color: #ffffff;
      cursor: pointer;
      border: none;
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size: 22px;
      padding: 10px 0; }
      .slice--subscribe .subscribe-form input[type=submit]:hover {
        background-color: #fa4251; }

.slice--picquotes {
  background-color: #242424;
  overflow: hidden; }
  .slice--picquotes .slice__content-container {
    font-size: 0; }
  .slice--picquotes .slice__header {
    display: inline-block;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 6px #ffffff;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 40px; }
  .slice--picquotes .picquotes-container {
    display: inline-block;
    position: relative; }
  .slice--picquotes .picquotes-set {
    display: inline-block;
    white-space: nowrap; }
  .slice--picquotes .picquotes-set--clones {
    position: absolute;
    top: 0; }
  .slice--picquotes .picquotes-column {
    display: inline-block;
    width: 200px; }
  .slice--picquotes .picquotes-column--large {
    width: 400px; }
  .slice--picquotes .picquote {
    background-size: cover;
    background-position: center;
    float: left;
    width: 200px;
    height: 200px; }
  .slice--picquotes .picquote--large {
    width: 400px;
    height: 400px; }
  .slice--picquotes .picquotes-link {
    display: inline-block;
    float: right;
    padding: 8px 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ec1b2e; }
    .slice--picquotes .picquotes-link:hover {
      background-color: #fa4251; }
    .slice--picquotes .picquotes-link .text {
      vertical-align: middle; }
    .slice--picquotes .picquotes-link .arrow {
      border-top: solid 8px transparent;
      border-bottom: solid 8px transparent;
      border-left: solid 11px #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px; }

/*# sourceMappingURL=mainHome.css.map */
