/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slice {
  font-family: "Raleway"; }

.slice--fill-height {
  height: 100vh; }

.slice__content-container {
  position: relative;
  width: 1024px;
  margin: auto; }

.slice--welcome {
  position: relative; }
  .slice--welcome .slice__content-container {
    width: 100%;
    height: 100%; }
  .slice--welcome .posters-carousel__entry {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center; }
  .slice--welcome .slick-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center; }
    .slice--welcome .slick-dots li {
      display: inline-block; }
    .slice--welcome .slick-dots button {
      cursor: pointer;
      display: block;
      width: 30px;
      height: 30px;
      font-size: 0;
      line-height: 0;
      border: none;
      background: none;
      position: relative;
      outline: none; }
      .slice--welcome .slick-dots button::before {
        background-color: #ffffff;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        opacity: 0.5; }
    .slice--welcome .slick-dots .slick-active button::before {
      opacity: 1; }

.slice--quote {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: #000000 0 20px 20px -20px inset; }
  .slice--quote.slice--first-quote {
    background-image: url(/img/page/uniHome/FirstQuoteBackground.jpg); }
    .slice--quote.slice--first-quote .slice__content-container {
      width: 500px; }
  .slice--quote.slice--second-quote {
    background-image: url(/img/page/uniHome/SecondQuoteBackground.jpg); }
    .slice--quote.slice--second-quote .slice__content-container {
      width: 740px; }
  .slice--quote .slice__content-container {
    display: table;
    height: 100%; }
  .slice--quote .quote {
    display: table-cell;
    vertical-align: middle; }
  .slice--quote .quote--light .quote__author, .slice--quote .quote--light .quote__content {
    color: #ffffff;
    text-shadow: #000000 0 0 3px; }
  .slice--quote .quote__author, .slice--quote .quote__content {
    text-align: center;
    padding: 8px 0;
    color: #000000;
    text-shadow: #ffffff 0 0 3px; }
  .slice--quote .quote__author {
    font-size: 18px; }
  .slice--quote .quote__content {
    font-size: 16px;
    line-height: 20px; }

.slice--link-to-page {
  background-color: #f4ede5; }
  .slice--link-to-page .slice__content-container {
    text-align: center;
    padding: 100px 0 120px; }
  .slice--link-to-page .pre-header {
    font-family: "Amiri";
    font-style: italic;
    text-transform: lowercase;
    text-align: center;
    font-size: 40px; }
  .slice--link-to-page .header {
    font-family: "Raleway";
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px; }
  .slice--link-to-page .button-link {
    font-family: "Raleway";
    font-size: 27px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    background-color: #ec1b2e;
    padding: 9px 40px;
    margin-top: 35px; }

.slice--other-universities {
  background-image: url(/img/page/uniHome/OtherUniversities.jpg);
  background-size: cover;
  background-position: center; }
  .slice--other-universities .slice__content-container {
    text-align: center;
    padding: 60px 0; }
  .slice--other-universities .button-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #ff950b;
    display: inline-block;
    padding: 7px 20px;
    font-size: 18px; }

/*# sourceMappingURL=uniHome.css.map */
